element.style {
    background: yellow;
    margin: 0 200px;
}

.locationIndicator {
    font-size: 25px;
    display: inline;
}

.buttonSell {
    background: aliceblue;
    margin-top: 15px;
}

.buttonBuy {
    background: pink;
}

/* modal */
.modalBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(71,35,41,0.6);
    top: 0;
    left: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modalContent {
    margin: auto;
    width: fit-content;
    padding: 2em;
    background: wheat;
    margin-top: 8em;
    border-radius: 7px;
}
